.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.site-page-header {
  background: #141414;
}

.dashboard-page-button {
  padding-right: 10;
}

.image-gallery {
  overflow: scroll;
  min-height: 360px;
  max-height: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.image-holder {
  margin: 1px;
}

.image-holder:hover {
  margin: 0px;
  border: 1px solid orange;
}

.work-sheet {
  min-height: 360px;
  max-height: 360px;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.work-sheet-segment {
  min-height: 96px;
  max-height: 96px;
  min-width: 96px;
  max-width: 96px;
}

.work-sheet-td {
  min-height: 96px;
  max-height: 96px;
  min-width: 96px;
  max-width: 96px;
  margin: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
  padding: 15px;
}
table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
  text-align: center;
}
table tbody th {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
  text-align: center;
}
table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
  margin: 0;
  padding: 0;
}
table tbody tr {
  background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

table tbody td .active {
  color: #636363;
  margin: 0;
  background-color: #636363;
  padding: 2px;
}

.interpolation-menu {
  background-color: #54585d;
  min-height: 360px;
  max-height: max-content;
  margin: 0;
  padding: 0;
}

.interpolation-selector {
  background-color: #474a4d;
  min-height: 360px;
  max-height: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.interpolation-selector-form {
  min-height: 180px;
  max-height: 180px;
  color: #ffffff;
  font-weight: bold;
}

.interpolation-selector-images {
  background-color: #474a4d;
  min-height: 180px;
  max-height: 180px;
}

.work-sheet {
  min-height: 360px;
  max-height: 360px;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.interpolation-selector-table {
  border-spacing: 5px;
  border-collapse: separate;
}

.interpolation-result {
  background-color: #212529;
}

.label-holder {
  min-width: 100%;
  min-height: 50px;
  color: #ffffff;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.label-active {
  background-color: #303233;
}

.interpolation-selector-images {
  overflow-x: scroll;
}
